#radio {top: 150px; right: 370px; position: absolute; padding: 90px; visibility: hidden;}
#radio2 {visibility: hidden;}
#poop3 {padding: 10px;}
#radio3 {visibility: hidden; top: 170px; right: 100px; position: absolute;} 
body {background-color: black;}
#god {color: white;}
#milestone1 {width: 580px; position: absolute; top: 480px; right: 80px; height: 60px; visibility: hidden;}
#milestone2 {width: 580px; position: absolute; top: 580px; right: 40px; height: 60px; visibility:
hidden;}
#milestone3 {width: 580px; position: absolute; top: 580px; right: 40px; height: 60px; visibility: hidden;}
#autoclick1 {padding: 30px; height: 80px; visibility: hidden;}
#autoclick2 {padding: 30px; height: 80px; visibility: hidden;}
